// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "libs/normalize/normalize";

// ----- Bourbon ----- //
@import "libs/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "libs/neat/neat";

// ----- Override ----- //
@import "libs/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Settings ----- //
@import "core/settings";

// ----- Helpers ----- <F10>//
@import "core/helpers";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/header";

@import "modules/topbar";

@import "modules/logo";

@import "modules/icon";

@import "modules/button";

@import "modules/table";

@import "modules/navigation";

@import "modules/offer";

@import "modules/sidebar";

@import "modules/main";

@import "modules/content";

@import "modules/footer";

@import "modules/usp";
// -------------------------------------
// Inbox
// -------------------------------------

