// *************************************
//
//   Utilities
//   -> Single purpose declarations
//
// *************************************

// -------------------------------------
// Micro utilities
// -------------------------------------

.u-cf {
  @include clearfix;
}

.u-hide {
  display: none;
}

// -------------------------------------
// Layout
// -------------------------------------

.u-layoutBlock {
  display: block;
}

// -------------------------------------
// Grid
// -------------------------------------

.u-gridContainer {
  @include outer-container;
  padding-left: rem(20px);
  padding-right: rem(20px);
}

.u-gridRow {
  @include row();
  padding-bottom : $l-whitespace;
  padding-top    : $l-whitespace;
}

.u-gridColumn3 {
	@include span-columns(3);
    @media screen and (max-width: 980px){
      @include span-columns(12);
    }
}

.u-gridColumn4 {
  @include span-columns(4);
  @media screen and (max-width: 980px){
      @include span-columns(12);
    }
}
.u-gridColumn6 {
	@include span-columns(6);
  @media screen and (max-width: 980px){
      @include span-columns(12);
    }
}
.u-gridColumn5 {
  @include span-columns(5);
}

.u-gridColumn7 {
  @include span-columns(7);
  @media screen and (max-width: 980px){
      @include span-columns(12);
    }
}

.u-gridColumn9 {
	@include span-columns(9);
}

.u-gridColumn10 {
  @include span-columns(10);
}



// -------------------------------------
// Text //
// -------------------------------------

.u-textCenter {
  text-align: center;
}

.u-textShout {
  text-transform: uppercase;
}

.u-textLead {
  font-size: 125%;
}

// -------------------------------------
// Objects
// -------------------------------------

.u-objLeft {
  float: left;
}

.u-objRight {
  float: right;
}


.u-sectionHeading {
  display: table;
  white-space: nowrap;
}

.u-sectionHeading:before {
  @include linear-gradient(to bottom, black, black);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 95% 1px;
  background-color: transparent;
  content: "";
  display: table-cell;
  width: 50%;
}

.u-sectionHeading:after {
  @include linear-gradient(black, black);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% 1px;
  background-color: transparent;
  content: "";
  display: table-cell;
  width: 50%;
}


.u-sectionHeadingWhite {
  display: table;
  white-space: nowrap;
}

.u-sectionHeadingWhite:before {
  @include linear-gradient(to bottom, white, white);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 95% 1px;
  background-color: transparent;
  content: "";
  display: table-cell;
  width: 50%;
}

.u-sectionHeadingWhite:after {
  @include linear-gradient(white, white);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% 1px;
  background-color: transparent;
  content: "";
  display: table-cell;
  width: 50%;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}


