// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  padding: rem(10px) rem(10px);
  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------
.Button--offer {
  background-color: $c-darkgrey;
  color: $c-white;
  width: 50%;
  border-bottom-right-radius: 25px;

} 

.Button--review {
  background-color: $c-yellow;
  color: $c-darkgrey;
  font-weight: 600;
  display: table;
  margin: auto;
} 

.Button--registration{
	margin-top: 12px;
	margin-bottom: 5px;
	background-color: $c-yellow;
	color: $c-darkgrey;
	font-size: rem(25px);
	float: right;
	width: 100%;
	text-align: center;
	border-top-right-radius: 25px;

	cursor: pointer;
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
    // background: $c-lightyellow;
   background: rgba($c-yellow, 0.4);
   color: $c-white;
   }

   @media screen and (max-width: 980px) {
   	float: none;
   	margin-top: 0;
   	width: 100%;
   }
}

.Button--home{
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: $c-yellow;
	color: $c-darkgrey;
	font-size: rem(25px);
  display: block;
	text-align: center;
	border-top-right-radius: 25px;

	cursor: pointer;
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
    // background: $c-lightyellow;
   background: rgba($c-yellow, 0.4);
   color: $c-white;
   }

   @media screen and (max-width: 980px) {
   	float: none;
   	margin-top: 0;
   	width: 100%;
   }
}

.Button--header{
  margin-right: 16px;
  // margin-top: 43px;
  padding: 0;
  padding-bottom: 2.2px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: $c-yellow;
  color: $c-darkgrey;
  font-size: rem(25px);
  float: right;
  width: 187px;
  text-align: center;
  border-top-right-radius: 25px;

  cursor: pointer;
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
    // background: $c-lightyellow;
   background: rgba($c-yellow, 0.4);
   color: $c-white;
   }

   @media screen and (max-width: 980px) {
    float: none;
    margin-top: 0;
    width: 100%;
    margin-left: 0;
   }
}

.Button--phone{
  background: url('img/phone.png');
  // margin-right: 16px;
  // margin-top: 43px;
  margin-left: 6.7em;
  padding: 0;
  padding-bottom: 2.2px;
  margin-top: 20px;
  margin-bottom: 5px;
  // margin-left: 5px;
  // background-color: $c-yellow;
  border: 1px solid $c-brightyellow;
  color: $c-brightyellow;
  font-size: rem(25px);
  float: left;
  width: 200px;
  text-align: center;
  // border-top-left-radius: 25px;

  cursor: pointer;
  // -webkit-duration: .3s;
  // -moz-duration: .3s;
  // -o-duration: .3s;
  // transition-duration: .3s;

  // &:hover{
  //   // background: $c-lightyellow;
  //  background: rgba($c-yellow, 0.4);
  //  color: $c-white;
  //  }

   @media screen and (max-width: 980px) {
    float: none;
    margin-top: 0;
    width: 100%;
    margin-top: 1em;
    margin-left: 0px;
   }
}

.Button--cbr{
  background: url('img/phone.png');
  // margin-right: 16px;
  // margin-top: 43px;
  margin-left: 2em;
  padding: 0;
  padding-bottom: 2.2px;
  margin-top: 20px;
  margin-bottom: 5px;
  // margin-left: 5px;
  // background-color: $c-yellow;
  border: 1px solid $c-brightyellow;
  color: $c-brightyellow;
  font-size: rem(25px);
  float: left;
  width: 200px;
  text-align: center;
  // border-top-left-radius: 25px;

  cursor: pointer;
  // -webkit-duration: .3s;
  // -moz-duration: .3s;
  // -o-duration: .3s;
  // transition-duration: .3s;

  // &:hover{
  //   // background: $c-lightyellow;
  //  background: rgba($c-yellow, 0.4);
  //  color: $c-white;
  //  }

   @media screen and (max-width: 980px) {
    float: none;
    margin-top: 0;
    width: 100%;
    margin-top: 1em;
    margin-left: 0px;
   }
}

#gform_submit_button_1{
  background-color: $c-yellow;
  color: $c-darkgrey;
  border: none;
}
 
// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule