.Content {
	
}

.Content-wrap{
	background-color: $c-white;
	color: $c-darkgrey;
	padding-top: 2em;
}

.Content-yellow{
	background-color: $c-yellow;
	color: $c-darkgrey;
}

.Content-home{
	background-color: $c-purple;
}