.Footer {
	background-color: $c-darkgrey;
}

.Footer-inner {
	h4, p {
		color: white;
	}
}

.Footer-inner {

}

.Footer-inner .widget {
	@include span-columns(6);
}

.Footer-socket {
	background-color: $c-darkgrey;
	color: white;
}
