.Footer {
	background-color: $c-darkgrey;
}

.Footer-inner {

}

.Footer-inner .widget {
	@include span-columns(4);
//	text-align: center;
}

.Footer-socket {
	background-color: $c-grey;
	color: white;
}

.Footer-title{
	color:red;
}

.widget{
	h4{
	color:$c-yellow;
	font-size: rem(20px);
	}

	p {
		color: white;
	}
}