// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************
 
.Navigation {
  text-align: right;

}

// -------------------------------------
// Module specific variables
// -------------------------------------

$nav-breakpoint: 600px;

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States 
// -------------------------------------

.Navigation-link.is-active {
  // text-decoration: underline;
  color: $c-brightyellow;

}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //
.Navigation-wrap {
  background-color: $c-darkgrey;


}
.Navigation > ul {
  font-size: 0;
}

.Navigation-listItem {
  display: inline-block;
  //margin: 0 1em;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  border-right: 1px solid $c-white;
  padding: 0.7rem 1rem;

  &:first-of-type {
    border-left: 1px solid $c-white;
  }

  &:hover {
    background-color: $c-purple;
  }
  @media screen and (max-width: $nav-breakpoint) {
    display: block;
    border: 1px solid $c-white;
  }
}

// ----- Navigation link ----- //
.Navigation-link {
  
  //text-transform: uppercase;
  font-family: $t-headerFontFamily;
  color: $c-white;
  font-size: rem(16px);
  line-height: 1.5;  


  &:hover {
    text-decoration: none;
  }
}

.Navigation-link--invertedBold {
  color: $c-white; 
}

a.Navigation-link{
  padding: 10px 10px;
  text-decoration: none;
}

.Navigation-list--parent {
  display: none;
  @media screen and (min-width : $nav-breakpoint) {
    display: block;
  }
}

.Navigation-menuToggle {
  
  
  display: block;
  @media screen and (min-width : $nav-breakpoint) {
    display: none;
  }
}

