// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  border-top: 3px solid white;
  text-align: center;
  background-color: $c-blue;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  text-decoration: underline;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //
.Navigation-wrap {
	background-color: $c-blue;
}

.Navigation-listItem {
  display: inline;
  margin: 0 1em;
  font-size: rem(24px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  font-family: $navFont;
  color: $c-white;
  line-height: rem(62px);
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}


