// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************
 
.Navigation {
  // text-align: right;

}

// -------------------------------------
// Module specific variables
// -------------------------------------

$nav-breakpoint: 769px;

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States 
// -------------------------------------

.Navigation-link.is-active {
  // text-decoration: underline;
  color: $c-yellow;

}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //
.Navigation-wrap {
  background-color: $c-darkgrey;


}
.Navigation > ul {
  font-size: 0;
}

.Navigation-listItem {
  position: relative;
  display: inline-block;
  cursor:pointer;

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  border-right: 1px solid rgba($c-yellow, 0.4);


  &:first-of-type {
    border-left: 1px solid rgba($c-yellow, 0.4);
  }


  @media screen and (max-width: $nav-breakpoint) {
    display: block;
    border: 1px solid $c-white;
  }
}

// ----- Navigation link ----- //
.Navigation-link {
  display: inline-block;
  text-decoration: none;
  font-family: $t-headerFontFamily;
  color: $c-white;
  letter-spacing:5.6px;
  font-size: rem(18px);
  line-height: 1.5;  

  cursor: pointer;
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
    // background: $c-lightyellow;
   background: rgba($c-purple, 0.8);
   }
  @media screen and (max-width: 980px) {
    font-size: 13px;
  }



  &:hover {
    text-decoration: none;
    background-color: $c-purple;

  }
}

.Navigation-link--invertedBold { 
  color: $c-white; 
}

a.Navigation-link{
  padding: 12px;
  text-decoration: none;
}

.Navigation-list--parent {
  display: none;
  @media screen and (min-width : $nav-breakpoint) {
    display: block;
  }
}

.Navigation-menuToggle {
  display: block;
  @media screen and (min-width : $nav-breakpoint) {
  display: none;
  }
}

// #js-menuToggle{
//   margin-left: 45%;    
//   margin-top: 10px;

// }

.Navigation-list.is-hidden {
    display: none;
}

.Navigation-list--dropdown{
  background-color: $c-darkgrey;
  color: red;
  z-index: 99999;
  position: absolute;
  border: 0;

  .Navigation-listItem{
    border: 0;
   
     &:hover{
        text-decoration: underline;
      }
    }
    .Navigation-link.is-active {
  // text-decoration: underline;
  color: $c-brightyellow;

}
}

