// *************************************
//
// Offer
// -> Special offers
//
// *************************************

.Offer {
	@include row();
	// max-height: 505px;
	max-height: 347px;
	background-color: $c-white;

	.bx-viewport {
	    background-color: inherit;
	    border: none;
	    box-shadow: none;
	}
}

.Offer-heading {
	//text-align: center;
	color: $c-darkgrey;
	margin-top: 15px;
	margin:0; 
}


.Offer-item {
	@include span-columns(6);
	text-align: center;
	// padding-bottom: 50px;
	//height: rem(250px);
	

}

.Offer-item img {
	display: inline-block;
	// max-height: 150px;
	margin-bottom: 30px;  
	margin-top: 20px;


}

// div.Offer-item:nth-child(6) > img:nth-child(1){
// 	height: 262px;
// 	width: 405px; 
// }

.u-sectionHeadingWhite{
	margin:0;
}

.Offer-archive{
@include span-columns(4);
float: right;


}

.Offer-thumbnail{
@include span-columns(4);
}




