// *************************************
//
// Offer
// -> Special offers
//
// *************************************

.Offer {
	@include row();
	padding-bottom: 20px;
	background-color: $c-yellow;
}

.Offer-heading {
	//text-align: center;
	color: $c-darkgrey;
}


.Offer-item {
	@include span-columns(6);
	text-align: center;
	//height: rem(250px);
	

}

.Offer-item img {
	display: inline-block;
	// max-height: 150px;
	margin-bottom: 20px;


}

.Offer-item-cadeau{
	// margin-top: 122px;
	
}

// .Offer-wrap{
// 	height:1
// }

