// *************************************
//
// Review
// -> Reviews
//
// *************************************

.Review {
	color: $c-white;
	//@include row();
	padding-bottom: 20px;
	background-color: $c-purple;
	
	.bx-viewport {
	    background-color: inherit;
	    border: none;
	    box-shadow: none;
	    height: 100px !important;
	}
	

}

.Review .bxslider {
	background-color: $c-purple;
}
.Review-item{
  	//@extend .u-gridColumn4;
	background-color: inherit;
  	@media screen and (max-width: 980){
  		@include span-columns(12);
  		padding: 0;
  	}
}







