.Slider {

	@include row();
	// position: relative;

	.bx-viewport {
	    background-color: inherit;
	    border: none;
	    box-shadow: none;
	}
}
.Slider-frame {
	width: 100%;
	overflow: hidden; 
}

// .Slider img {
// 	width: 100%;
// }

.Slider-slogan {
	position: absolute;
	bottom: 10%; 
	// right: 0px;
	// padding-right: 7%;
	// padding-left: 20px;
	background-color: rgba($c-purple, 0.6);
		@media screen and(max-width: 600px){
			background-color: rgba($c-purple, 0.4);
		} 

	width: 100%;	
	text-align: center;
	padding: 0px;
	font-size: rem(25px);
		

	// @media screen and(max-width: 600px){
	// 	font-size: 20px;
	// }
	
}

.Slider-item {
	position: relative;
	//@include span-columns(6);
	text-align: center;
	// padding-bottom: 50px;
	max-height: 350px;

	// height: rem(250px);
	

}


.Slider-heading > p{
	padding: 0;
	font-size: 25px;
	@media screen and(max-width: 600px){
		font-size: rem(14px);
	}			
	color: $c-white;
}

.Slider-heading2 > p{
	bottom: 80%;
	padding: 0;
	font-size: 18px;
	// background-color: rgba($c-purple, 0.9);
	background-color: $c-purple;
	@media screen and(max-width: 600px){
		font-size: rem(14px);
	}			
	color: $c-white;
}

.Slider-text{
   padding: 0;
	font-size: 40px;
   font-family: $t-fontFamily;
}

.Slider-text2{
	color: $c-white !important;
   padding: 0;
	font-size: 40px;
   font-family: $t-fontFamily;
}

.Slider-link{
	color: $c-white;
	font-size: 22px;
}

.Slider-recensies{
}
