// *************************************
//
// Table
// -> A module for beating tables into
//    submission
// *************************************

.Table {

  width: 100%;
  font-family: $t-fontFamily;
  background-color: $c-white; 
  margin: 25px auto;
  border-collapse: collapse;
  // border: 1px solid #eee;
  border: 5px solid $c-purple;
  // box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
  //    0px 10px 20px rgba(0,0,0,0.05),
  //    0px 20px 20px rgba(0,0,0,0.05),
  //    0px 30px 20px rgba(0,0,0,0.05);

  tr {
     &:hover {
      background: $c-purple;
      
      td {
  		color: $c-white;
      }
    }
  }
  th, td {
  	color: $c-darkgrey;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
    text-align: left !important;
  }
  th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }
}
.Tabe-name{
  background-color: $c-brightyellow;
}
.Table-link{
	color: $c-purple;
}



// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Table--invertedBold {
  color: $c-white;
  font-weight: bold;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Table-title {
  padding-bottom: $l-whitespace;
}