// *************************************
//
// Usp
// -> Unique Selling Points
//
// *************************************

.Usp {
	@include span-columns(4);
	float:right;
	border-top-right-radius: 25px;

	margin-top: 5px;
	padding: 1em;
	padding-top: 0;
	background-color: $c-darkgrey;
	color: $c-white;  
	@media screen and (max-width: 980px) {
		width: 100%;
		margin-top: 0px;
		border-top-right-radius: 0px;
		font-size: rem(20px);

  	}
}

.Usp-col {
	@include span-columns(4);
	// margin-top: 43px;	
	float:right;
	border-top-right-radius: 25px;
	// border: 1px solid $c-darkgrey;
	padding: 1em;
	padding-top: 1em;
	background-color: $c-purple;
	margin-bottom: 1em;
	color: $c-white;
	@media screen and (max-width: 980px) {
		width: 100%;
		margin-top: 0px;
		font-size: rem(20px);
  	}


}

.Usp-col2{
  	@include span-columns(4);
	// margin-top: 43px;	
	float:right;
	border-top-right-radius: 25px;
	// border: 1px solid $c-darkgrey;
	padding: 1em;
	padding-top: 1em;
  	padding-bottom: 1.7em;
  	margin-bottom: 1em;
	background-color: $c-purple;
	color: $c-white;
	@media screen and (max-width: 980px) {
		width: 100%;
		margin-top: 0px;
		font-size: rem(20px);
  	}

  	}

.Usp-text{
	padding-left: 29px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: rem(16px);


	@media screen and (max-width: 980px) {
	padding-left: 0px;
	font-size: rem(20px); 
	}
}

.Usp-list{
	line-height: 1.9em;
	margin-top: 1em;
}


li.icon::before {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	padding-bottom: 0.2em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;	
	box-sizing: border-box;		
}

li.check::before { 
	background-image: url('/files/2014/04/check.png');
	height: 1.3em;
	width: 1.3em;
}

