.Usp {
	
}

.Usp ul {
	background-color: $c-lightblue;
	padding: 25px;
	border-radius: 6px;
	list-style-type: none;
	list-style-position: inside;
}


.Usp ul li:before {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	padding-bottom: 0.2em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	-moz-box-sizing: border-box;
	list-style-image: none;
	line-height: 18px;
	background: none ;
	background-image: url("../img/vinkje.png");
	height: 1.34rem;
	width: 1.36rem;
}
.Usp ul li {
	line-height: rem(34px);
}
